executor.name = 'google-batch'

google {
    enableRequesterPaysBuckets = true
    location                   = 'europe-west1'
    project                    = 'open-targets-genetics-dev'
    batch {
        spot            = true
        maxSpotAttempts = 1
    }
}

workDir = 'gs://ot_orchestration/qtlformer/test/work'
params {
    input_dir  = "gs://eqtl_catalogue_processed_otar_internal_data/otar2077/GTEx_v10/susie/QTS000015/QTD000116"
    output_dir = "gs://ot_orchestration/qtlformer/test/output"
}
